body { counter-reset: h1counter; }
p, li {
  font-family: wf_segoe-ui_normal, 'Segoe UI', Segoe, 'Segoe WP', Tahoma, Verdana, Arial, sans-serif;
  font-size: 14px;
}

table {
  border-collapse: collapse;  
}

td {
  font-family: wf_segoe-ui_normal, 'Segoe UI', Segoe, 'Segoe WP', Tahoma, Verdana, Arial, sans-serif;
  font-size: 14px;
  border: solid 1px;
  padding-left:10px;
  padding-right:10px;
  padding-top:5px;
  padding-bottom:5px;
}

pre{
  background-color:#CCCCCC;
  overflow:auto;
  padding:10px;
}

h1 {
  counter-reset: h2counter;
  font-family: wf_segoe-ui_normal, 'Segoe UI', Segoe, 'Segoe WP', Tahoma, Verdana, Arial, sans-serif;
  font-size: 45px;
  font-weight: 250;
  color:#317EAC;
}

h2 {
  counter-reset: h3counter;
  font-family: wf_segoe-ui_normal, 'Segoe UI', Segoe, 'Segoe WP', Tahoma, Verdana, Arial, sans-serif;
  font-size: 35px;
  font-weight: 250;
}


h3 {
  counter-reset: h4counter;
  font-family: wf_segoe-ui_normal, 'Segoe UI', Segoe, 'Segoe WP', Tahoma, Verdana, Arial, sans-serif;
  font-size: 30px;
  font-weight: 200;
}

h4 {
  counter-reset: h5counter;
  font-family: wf_segoe-ui_normal, 'Segoe UI', Segoe, 'Segoe WP', Tahoma, Verdana, Arial, sans-serif;
  font-size: 25px;
  font-weight: 150;
}

h5 {
  counter-reset: h6counter;
  font-family: wf_segoe-ui_normal, 'Segoe UI', Segoe, 'Segoe WP', Tahoma, Verdana, Arial, sans-serif;
  font-size: 20px;
  font-weight: 100;
}

h6 {
  font-family: wf_segoe-ui_normal, 'Segoe UI', Segoe, 'Segoe WP', Tahoma, Verdana, Arial, sans-serif;
  font-size: 18px;
  font-weight: 50;
}

h1:before {
    counter-increment: h1counter;
    content: counter(h1counter) ". ";
}

h2:before {
    counter-increment: h2counter;
    content: counter(h1counter) "." counter(h2counter) ". ";
}

h3:before {
    counter-increment: h3counter;
    content: counter(h1counter) "." counter(h2counter) "." counter(h3counter) ". ";
}

h4:before {
    counter-increment: h4counter;
    content: counter(h1counter) "." counter(h2counter) "." counter(h3counter) "." counter(h4counter) ". ";
}

h5:before {
    counter-increment: h5counter;
    content: counter(h1counter) "." counter(h2counter) "." counter(h3counter) "." counter(h4counter) "." counter(h5counter) ". ";
}

h6:before {
    counter-increment: h6counter;
    content: counter(h1counter) "." counter(h2counter) "." counter(h3counter) "." counter(h4counter) "." counter(h5counter) "." counter(h6counter) ". ";
}

.mainDiv{
  margin:20px;
  width:70%;
}
